body{
	font-family: georgia, times, serif;
	color: #333;
	font-size: 1.2rem;
	line-height: 1.4em;
	margin: 0;
	padding: 0;
}

h1{
	font-size: 2rem;
	line-height: 1.3em;
}

p{
	margin-bottom: 1.6em;
}
/*Espacio a lo ancho de la pagina*/
.container{
	width: 100%;
	max-width: 850px;
	margin: 0 auto;
	padding: 0;
	aling: center;
}
/*Recuadro negro del menu o encabezado*/
.header{
	background: #333;
	color: green ;
	padding: 2rem 0;

	position: flex;
	left: 0;
	top: 0;
	right: 0;
}

 .header a {
	color: white;
	text-decoration: none;
}

.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
/*espacio entre las letras de "FLOPPA"*/
.logo{
	letter-spacing: 15px;
	font-size: 1.3em;
}

.menu-icon{
	display: flex;
}
/*margend de los botones*/
.navigation ul{
	margin: 0;
	padding: 0;
	list-style: flex;
}
/*Posicion o acomodo de las letras*/
.navigation ul li{
	display: inline-block;
}

.navigation ul li a {
	display: flex;
	padding: 0.5rem 1rem;
	transition: all 0.4s linear;
	border-radius: 5px;
}

.navigation ul li a:hover {
	background: #4a4a4a;
}
/* Separacion del texto y seccionador*/
.main{
	padding-top: 2rem;
}
/* Separacion del pie de pagina*/
.footer {
	background: #f2f2f2;
	padding: 4rem 0;
	text-align: center;
	margin-top: 6 rem;
}


@media only screen and (max-width: 767px) {

.menu-icon{
	display: flex;
	cursor: pointer;
	padding: 0.5rem 1rem;
}

.navigation{
	width: 100%;
	margin-top: 1rem;
}

.navigation ul{
	display: flex;
}
/*Que tan pegadas estan las letras*/
.navigation ul.show{
	display: block;
}

.navigation ul li{
	display: flex;
}

.navigation ul li a {
	display: flex;
	padding: 0.5rem 0;
	transition: all 0.4s linear;
	border-radius: 5px;
}

.navigation ul li a:hover {
	background: #4a4a4a;
}
}